*:active,
*:focus {
  outline: 3px outset #ef6864ab;
  outline-offset: 2px;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: $gray;
  letter-spacing: 2px;
  line-height: 1.5;
}
body.nav-opened {
  overflow: hidden;
  height: 100vh;
}

img{
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
  height: auto;
}

button {
	outline: none;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

.box-shadow--big{
  position:relative;
  &::before {
    content: '';
    display: none;
  }
}

.box-shadow--small {
  position: relative;
  &::before {
    content: "";
    display: none;
  }
}

@include tablet-portrait {
  .box-shadow--big{
    &::before {
      display:block;
      position:absolute;
      box-shadow:10px 10px 40px #b7b6b6a6;
      width: 100vw;
      height: calc(100% + 450px);
      top: 0;
      left:-2vw;
      z-index: -20;
    }
  }
  .box-shadow--small {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: calc(100% + 40px);
      width: calc(100% - 35px);
      box-shadow:10px 10px 40px #b7b6b6a6;
      right: 0;
      bottom: 0;
      z-index: -50;
    }
  }
}
@include tablet-landscape {
  .box-shadow--big{
    &::before {
      left:-50vw;
      height: calc(100% + 200px);
      }
    }
  .box-shadow--small {
    &::before {
      height: calc(100% + 100px);
    }
  }
}

.site-content {
  margin: 0 20px;
}
.section {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  .section__title {
    color: $dark;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 30px 0;
    &::before {
      content: "";
      display: block;
      margin-bottom: 5px;
      width: 100px;
      height: 5px;
      background: linear-gradient(90deg, rgba(239,104,100,0.7) 0%, rgba(255,255,255,0.9) 100%);
    }
  }
  .section__content {
    margin-bottom: 40px;
    font-size: 1.8rem;
  }
}

@media (max-width: 900px) {
  .first {
    order: 1;
  }
  .second {
    order: 2;
  }
}


@include tablet-landscape {
  .section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .section__title {
      font-size: 3.5rem;
      width: 70%;
      margin: 30px auto;
    }
    .section__content {
      width: 70%;
      margin: 40px auto;
      font-size: 2rem;
    }
  }
}

@include desktop {
  .site-content {
    margin: 500px 30px 0;
  }
}